extends ./wrapper.jade

block content
  h1 About Gualy

  .row
    .col-md-6
      p.text-justify.
        Gualy is an app written by Cerek Hillen in 2014. It uses Node, Express,
        MongoDB, and some parts were retrofitted to use React. It was written
        while in my time at the <a target="_blank"
        href="http://hackerschool.com/">Hacker School</a> (which is an amazing
        place, by the way). The project can be found on <a target="_blank"
        href="http://github.com/crockeo/gualy">GitHub</a> if you want to take a
        look.
