extends ./wrapper.jade
include ./goal.jade

block js-extra
  script(src="/static/js/jsonutils.js")
  script(type="text/jsx" src="/static/js/manage.js")

block css-extra
  link(rel="stylesheet" href="/static/css/manage.css")

block content
  if logged
    h1.text-center Manage your goals!
    #wrapper
  else
    h1.text-center You must log in to manage using Gualy.
